.nav-container {
  width: 100%;
  background-color: aqua;

  nav {
    font-size: 40px;
    padding: 15px;
    text-transform: uppercase;
    font-weight: 700;
    background-image: linear-gradient(to right, blue, green);
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: 0.2rem;
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2);
  }
}
