.next-hours-container {
  display: flex;
  justify-content: space-around;
  width: 500px;
  margin: 0 auto;
  margin-top: 35px;
}

li {
  list-style: none;
}

.next-hours-container-time {
  padding: 5px;
}

.next-hours-container-description {
  font-size: 13px;
  padding: 5px;
}
