.current-weather-container {
  margin: 0 auto;
  text-align: left;
  width: 500px;
  background-color: #5b7faf;
  padding: 10px;
  color: white; }
  .current-weather-container-location {
    font-size: 1.5rem;
    letter-spacing: 0.4em; }
  .current-weather-container-time {
    font-size: 1.3rem;
    letter-spacing: 0.5em; }
  .current-weather-container-description {
    text-transform: capitalize;
    letter-spacing: 0.3em; }
  .current-weather-container-temp {
    display: flex;
    width: 150px; }
    .current-weather-container-temp img {
      height: 90px; }
    .current-weather-container-temp-num {
      margin-top: 9%;
      font-size: 55px; }
