.city-search-button {
  margin: 15px;
  height: 35px;
  padding: 15px;
  border: 1px solid #dddfe2;
  border-radius: 5px;
  width: 446px;
  font-size: 20px;
  letter-spacing: 0.3em;
  text-align: center;
  line-height: 33px;
  resize: none;
  background: linear-gradient(21deg, #10abff, #1beabd);
}

input:focus {
  outline: none;
}
